<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">menu</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="">Home</button>
        <button mat-menu-item routerLink="about">About</button>
      </mat-menu>
      <img src="../assets/images/F-svg.svg" id="fameImage" routerLink="/">
      <button mat-button style="float:right" *ngIf='!(authService.user | async)' routerLink="/login">Login</button>
      <button mat-button style="float:right" *ngIf='(authService.user | async)' type="button" (click)="logout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>